<form action="">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input type="text" id="age" name="age" class="form-control">
  </div>
  <div class="form-group">
    <label for="dob">Dob</label>
    <input type="date" class="form-control" name="dob" id="dob">
  </div>
  <button type="submit" class="btn btn-success">Create</button>&nbsp;
  <button type="button" class="btn btn-danger">Reset Form</button>&nbsp;
  <a type="button" class="btn btn-info" routerLink="/students">Go Back</a>
</form>
